<a href="https://colab.research.google.com/github/sdasmaha/Ml_Engineers_445/blob/master/Heart_Notebook_Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Notebook Excercise #1 - SRINJOY DASMAHAPATRA

 IDE => Google Colab

#Importing Libraries

In [315]:
import numpy as np
import pandas as pd

#Mounting the Google Drive

In [316]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

#Loading the Dataset

In [317]:
heart_df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/BAJWA-ML/heart_failure_dataset.csv')

# *1.1*

**A**

In [ ]:
print(heart_df.shape)

(299, 13)

In [ ]:
print(heart_df.axes)

[RangeIndex(start=0, stop=299, step=1), Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')]

In [ ]:
print(heart_df.dtypes)

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

**B**

In [ ]:
heart_df.head(10)

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1
5  90.0        1                        47  ...        1     8            1
6  75.0        1                       246  ...        0    10            1
7  60.0        1                       315  ...        1    10            1
8  65.0        0                       157  ...        0    10            1
9  80.0        1                       123  ...        1    10            1

[10 rows x 13 columns]

**C**
    Each row of heart_df dataframe is termed called a data sample associated with an instance.

**D**    Based on the knowledge of the dataset and its stated usage, we are dealing with supervised problem. 

Since in a supervised learning model, the algorithm learns on a labeled dataset, providing an answer key that the algorithm can use to evaluate its accuaracy on training data. 

On the contrary the unsupervised model works on unlabeled data that the algorithm tries to make sense of by extracting features and patterns on its own.

**E** The independent variables in this case are  labels- 

1. age
2. anaemia
3. creatinine_phosphokinase
4. diabetes
5. ejection_fraction
6. high_blood_pressure
7. platelets
8.	serum_creatinine
8. serum_sodium
9. sex
10. smoking
11. time

This is so because these variable/labels embedded in the algorithm 
increase or decrease the probability/likhehood of the event(*DEATH_EVENT*).

**F** The dependent variable in this case is the label *DEATH_EVENT* since it is the conclusive/final event or variable that predicts the likelihood of death.

**G** Here the categorical variables are -


1. anaemia
2. diabetes 
3. high_blood_pressure
4. sex
5. smoking
6. DEATH_EVENT


This is so because a categorical variable is a variable that can take on one of a limited, and usually fixed, number of possible values, assigning each individual or other unit of observation to a particular group or nominal category on the basis of some qualitative property.

**H** The categorical variables follow *Binary Encoding* where each label is mapped to a binary number.

In [ ]:
count1 = heart_df['DEATH_EVENT'].value_counts() 
print(count1)

0    203
1     96
Name: DEATH_EVENT, dtype: int64

**I** 


1.   Samples corresponding to Deceased Patients : 96
2.   Samples corresponding to Remaining Patients : 203

In [ ]:
count2 = heart_df['sex'].value_counts() 
print(count2)

1    194
0    105
Name: sex, dtype: int64

**J** 

1.   Samples corresponding to Women Patients : 105
2.   Samples corresponding to Male Patients : 194

In [ ]:
count3 = heart_df['smoking'].value_counts() 
print(count3)

0    203
1     96
Name: smoking, dtype: int64

**K** 

1.   Samples corresponding to Smokers  : 96
2.   Samples corresponding to Non-Smokers : 203

#*1.2*

Side Notes

1.   Positive Correlation = A positive relationship exists i.e. when the indepenedent variable increases in value, so does the dependent variable

2.  Negative Correlation = A negative relationship exists i.e. when the independent variable increases in value, the dependent variable falls in value

In [ ]:
heart_df.corr()

                               age   anaemia  ...      time  DEATH_EVENT
age                       1.000000  0.088006  ... -0.224068     0.253729
anaemia                   0.088006  1.000000  ... -0.141414     0.066270
creatinine_phosphokinase -0.081584 -0.190741  ... -0.009346     0.062728
diabetes                 -0.101012 -0.012729  ...  0.033726    -0.001943
ejection_fraction         0.060098  0.031557  ...  0.041729    -0.268603
high_blood_pressure       0.093289  0.038182  ... -0.196439     0.079351
platelets                -0.052354 -0.043786  ...  0.010514    -0.049139
serum_creatinine          0.159187  0.052174  ... -0.149315     0.294278
serum_sodium             -0.045966  0.041882  ...  0.087640    -0.195204
sex                       0.065430 -0.094769  ... -0.015608    -0.004316
smoking                   0.018668 -0.107290  ... -0.022839    -0.012623
time                     -0.224068 -0.141414  ...  1.000000    -0.526964
DEATH_EVENT               0.253729  0.066270  ... -0.526964     1.000000

[13 rows x 13 columns]

**A** The two variables that are the most positively correlated with the *DEATH-EVENT* are -

1.   serum_creatinine (0.294278)
2.   age (0.253729)

**B** The two variables that are the most negatively correlated with the *DEATH-EVENT* are -

1.   time (-0.526964	)
2.   ejection_fraction (-0.268603	)

**C** The answer to this question can be understood by general intuition and research conducted in the past. With increasing age, DEATH_EVENT is likely to increase.

In [ ]:
heart_df['ejection_fraction'].corr(heart_df['DEATH_EVENT'])

-0.2686033123940617

**D** Past Research has shown with decrease in ejection fraction(Percentage of blood leaving the heart at each contraction) there is an increase in the likelihood of Death (DEATH_EVENT).

#*1.3*

1.Checking for missing values.

In [ ]:
heart_df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

We can see here that we are not dealing with missing values.

2. Checking for Inconsistent values. For this we have to assess each columns and categorize them first into their data types and then search for inconsistency.

We divide columns into categorical and non-categorical values.

Non Categorical / Numerical = NUM ; Categorical = C
1. age - NUM
2. anaemia - C
3. creatinine_phosphokinase - NUM
4. diabetes - C
5. ejection_fraction - NUM
6. high_blood_pressure - C
7. platelets - NUM
8.	serum_creatinine -NUM
8. serum_sodium - NUM
9. sex - C
10. smoking - C
11. time - NUM
13. DEATH_EVENT - C

For Categorical values

In [ ]:
heart_df['anaemia'].value_counts()

0    170
1    129
Name: anaemia, dtype: int64

In [ ]:
heart_df['diabetes'].value_counts()

0    174
1    125
Name: diabetes, dtype: int64

In [ ]:
heart_df['high_blood_pressure'].value_counts()

0    194
1    105
Name: high_blood_pressure, dtype: int64

In [ ]:
heart_df['sex'].value_counts()

1    194
0    105
Name: sex, dtype: int64

In [ ]:
heart_df['smoking'].value_counts()

0    203
1     96
Name: smoking, dtype: int64

In [ ]:
heart_df['DEATH_EVENT'].value_counts()

0    203
1     96
Name: DEATH_EVENT, dtype: int64

Conclusion => All the categorical values are consistent. All values are either 1 or 0. All values add up to 300 sample data = (299; since it includes 0).

For NUMERICAL values

In [ ]:
pd.cut(x=heart_df['age'], bins = [-100,0,100]).value_counts()

(0, 100]     299
(-100, 0]      0
Name: age, dtype: int64

We can clearly see age here is positive.

In [ ]:
pd.cut(x=heart_df['creatinine_phosphokinase'], bins=[-1000,10000]).value_counts()

(-1000, 10000]    299
Name: creatinine_phosphokinase, dtype: int64

In [ ]:
pd.cut(x=heart_df['ejection_fraction'], bins=[-1000,1000]).value_counts()

(-1000, 1000]    299
Name: ejection_fraction, dtype: int64

In [ ]:
pd.cut(x=heart_df['platelets'], bins=[-100000,1000000]).value_counts()

(-100000, 1000000]    299
Name: platelets, dtype: int64

In [ ]:
pd.cut(x=heart_df['serum_creatinine'], bins=[-10,20]).value_counts()

(-10, 20]    299
Name: serum_creatinine, dtype: int64

In [ ]:
pd.cut(x=heart_df['serum_sodium'], bins=[-1000,1000]).value_counts()

(-1000, 1000]    299
Name: serum_sodium, dtype: int64

In [ ]:
pd.cut(x=heart_df['time'], bins=[-1000,0,1000]).value_counts()

(0, 1000]     299
(-1000, 0]      0
Name: time, dtype: int64

We can clearly see time here is positive.

Hence we can confirm there are no inconsistent values.

#*1.4*

Non Categorical Independent Variable. = Numerical Variables (NUM)

We have to convert the NUM variables in the dataset have zero mean and unit variance. This process of conversion is sometimes referred to as standardization.


 ***standard score = (observed value-mean of the sample) / standard deviation of the sample***

In [ ]:
heart_df_NC = heart_df[['age','creatinine_phosphokinase','ejection_fraction','platelets','serum_creatinine','serum_sodium','time']]

In [ ]:
avg = heart_df_NC.mean()

In [ ]:
stdv = heart_df_NC.std()

In [ ]:
standardized = (heart_df_NC - avg) / stdv

In [ ]:
standardized.head(20)

         age  creatinine_phosphokinase  ...  serum_sodium      time
0   1.190949                  0.000165  ...     -1.501519 -1.626775
1  -0.490457                  7.502063  ...     -0.141739 -1.601007
2   0.350246                 -0.449186  ...     -1.728149 -1.588122
3  -0.910808                 -0.485257  ...      0.084892 -1.588122
4   0.350246                 -0.434757  ...     -4.674340 -1.575238
5   2.452003                 -0.551217  ...     -1.048259 -1.575238
6   1.190949                 -0.346124  ...      0.084892 -1.549470
7  -0.070106                 -0.275011  ...     -1.274889 -1.549470
8   0.350246                 -0.437849  ...      0.311522 -1.549470
9   1.611300                 -0.472890  ...     -0.821629 -1.549470
10  1.190949                 -0.516176  ...     -1.274889 -1.549470
11  0.098035                 -0.361583  ...      0.764782 -1.549470
12 -1.331160                  0.411384  ...      0.084892 -1.536586
13 -0.910808                 -0.426512  ...      0.084892 -1.536586
14 -0.994879                 -0.517207  ...      0.311522 -1.523701
15  1.779441                 -0.209051  ...     -0.141739 -1.510817
16  2.199792                 -0.446094  ...      0.764782 -1.497933
17 -1.331160                  0.000165  ...     -2.181409 -1.497933
18  0.770597                 -0.470829  ...      0.764782 -1.485049
19 -1.078949                  0.000165  ...     -3.541189 -1.485049

[20 rows x 7 columns]

In [ ]:
standardized.mean()

age                         6.735601e-16
creatinine_phosphokinase   -2.135044e-17
ejection_fraction           4.752794e-17
platelets                  -1.114679e-15
serum_creatinine            4.026879e-16
serum_sodium               -8.420429e-16
time                       -6.052386e-16
dtype: float64

In [ ]:
standardized.var()

age                         1.0
creatinine_phosphokinase    1.0
ejection_fraction           1.0
platelets                   1.0
serum_creatinine            1.0
serum_sodium                1.0
time                        1.0
dtype: float64

We can clearly see the mean is ~ 0 and the variance is 1 for all the non categorical columns.

#*1.5*

In [318]:
heart_df = heart_df.rename(columns = {"DEATH_EVENT": "1"})

In [328]:
heart_df["0"] = heart_df["1"].map(lambda x: 0 if x == 1 else (1))

In [329]:
heart_df.head(299)

      age  anaemia  creatinine_phosphokinase  diabetes  ...  smoking  time  1  0
0    75.0        0                       582         0  ...        0     4  1  0
1    55.0        0                      7861         0  ...        0     6  1  0
2    65.0        0                       146         0  ...        1     7  1  0
3    50.0        1                       111         0  ...        0     7  1  0
4    65.0        1                       160         1  ...        0     8  1  0
..    ...      ...                       ...       ...  ...      ...   ... .. ..
294  62.0        0                        61         1  ...        1   270  0  1
295  55.0        0                      1820         0  ...        0   271  0  1
296  45.0        0                      2060         1  ...        0   278  0  1
297  45.0        0                      2413         0  ...        1   280  0  1
298  50.0        0                       196         0  ...        1   285  0  1

[299 rows x 14 columns]

In [ ]:
from google.colab import files
heart_df.to_csv('heart_failure_dataset_processed.csv') 
files.download('heart_failure_dataset_processed.csv')